@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

h1 {
    font-size: 24px;
    color: hsl(223, 47%, 23%);
    text-align: center;
    margin-top: 30px;
}

p {
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    text-align: center;
}

h2 {
    font-size: 16px;
}

.card {
    width: 400px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.image {
    display: flex;
}

img {
    width: 400px;
    border-radius: 20px 20px 0 0;
}

.details {
    background-color: hsl(0, 0%, 100%);
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 45px;
    border-radius: 10px;
}

.desc {
    display: flex;
    justify-content: space-between;
    background-color: hsl(225, 100%, 98%);
    padding: 14px;
    border-radius: 10px;
}

.option {
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
}

.option:hover {
    color: hsl(249, 80%, 67%);
    cursor: pointer;
}

span {
    display: flex;
    align-items: center;
}


svg {
    margin: 10px;
}

button {
    background-color: hsl(245, 75%, 52%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 14px 16px;
    border-radius: 10px;
}

button:hover {
    background-color: hsl(249, 80%, 67%);
    cursor: pointer;
}

.can {
    font-size: 14px;
}

.can:hover {
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}

@media screen and (max-width: 560px) {
    body {
        background: url(./images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-color: hsl(225, 100%, 94%);
    }
}